* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* min-height: 100vh; */
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    background-color: lightgray;
    color: blue;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.section {
    /* width: 600px;
    justify-content: center; */
}

.section-title {
    color: black;
    /* font-size: 20px;
    font-weight: 300; */
}

.section-item {
    transition: color 0.5s;
    min-height: 50px;
    /* padding: 20 0 0 0; */
    /* border-top: 1px solid #672f2f; */
}

.section-item:hover {
    color: black;
}